{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home_page.css' %}"/>
{% endblock%}

{% block content %}
<main class="paper container">
  <article>
    {{page.body|richtext}}
  </article>
  {% if page.get_children %}
  <section class="paper container">
    {% for post in page.get_children.live %}
        <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
    {% endfor %}
 </section>
 {% endif %}
</main>
 
{% endblock %}
